[submodule "ActiveAndroid"]
	path = ActiveAndroid
	url = https://github.com/pardom/ActiveAndroid.git
[submodule "500px-android-sdk"]
	path = 500px-android-sdk
	url = https://github.com/500px/500px-android-sdk.git
