<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lukekorth.photo_paper">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:name="com.lukekorth.photo_paper.WallpaperApplication">

        <meta-data android:name="AA_DB_NAME" android:value="500px.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="5" />
        <meta-data android:name="AA_MODELS"
            android:value="com.lukekorth.photo_paper.models.Photos, com.lukekorth.photo_paper.models.User" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchActivity" android:label="@string/search" />
        <activity android:name=".RecentPhotosActivity" android:label="@string/recent_photos" />
        <activity android:name=".ViewPhotoActivity" android:theme="@style/FullScreenPhotoTheme" />

        <activity android:name="com.lukekorth.fivehundredpx.FiveHundredPxOAuthActivity"
                  android:launchMode="singleTask"
                  android:theme="@style/FiveHundredPxTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.lukekorth.photopaper" />
            </intent-filter>
        </activity>

        <service android:name=".services.UserInfoIntentService" />
        <service android:name=".services.PhotoDownloadIntentService" />
        <service android:name=".services.WallpaperService" />
        <service android:name=".services.ClearCacheIntentService" />

        <receiver android:name=".receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
